@{
    ViewBag.Title = "ApiTraz";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <img src="~/Images/mielhome.jpg" class="img-rounded" alt="Corrientes Miel">
            <p> LLa miel es un fluido dulce y viscoso producido por las abejas a partir del néctar de las flores o de secreciones de partes vivas de plantas o de excreciones de insectos chupadores de plantas. Las abejas lo recogen, transforman y combinan con la enzima invertasa que contiene la saliva de las abejas y lo almacenan en los panales donde madura.&nbsp;Además la miel es una secreción que fue consumida anteriormente por éstas.<br />
<br />
La intervención del hombre en el proceso de explotación de los panales de la colmena es conocida como apicultura.<br />
Las características físicas, químicas y organolépticas de la miel vienen determinados por el tipo de néctar que recogen las abejas.<br />
El origen botánico de las mieles define también la mayor o menor facilidad de éstas a cristalizar.<br />
<br />
La producción mundial media de miel es aproximadamente de 1.200.000 tn, y cerca de la mitad de ésta entra en los circuitos internacionales de comercio. Los principales países productores y exportadores son: China, Argentina, México, Canadá, Hungría y Australia. Es difícil establecer un ranking de naciones, pues sus niveles de producción son muy diferentes. Los principales importadores a nivel mundial son la Unión Europea y Estados Unidos.<br />
            </p>
        </div>
    </section>


    }
*@


<div class="media">


  <a class="pull-left" href="#">
    <img src="~/Images/mielhome.jpg" class="img-rounded" alt="Corrientes Miel">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h1 class="media-heading">@ViewBag.Title.</h1>
  
 
    <!-- Nested media object -->
    <div class="media">
       <p align="justify"> La miel es un fluido dulce y viscoso producido por las abejas a partir del néctar de las flores o de secreciones de partes vivas de plantas o de excreciones de insectos chupadores de plantas. Las abejas lo recogen, transforman y combinan con la enzima invertasa que contiene la saliva de las abejas y lo almacenan en los panales donde madura.&nbsp;Además la miel es una secreción que fue consumida anteriormente por éstas.<br />
<br />
La intervención del hombre en el proceso de explotación de los panales de la colmena es conocida como apicultura.<br />
Las características físicas, químicas y organolépticas de la miel vienen determinados por el tipo de néctar que recogen las abejas.<br />
El origen botánico de las mieles define también la mayor o menor facilidad de éstas a cristalizar.<br />
<br />
La producción mundial media de miel es aproximadamente de 1.200.000 tn, y cerca de la mitad de ésta entra en los circuitos internacionales de comercio. Los principales países productores y exportadores son: China, Argentina, México, Canadá, Hungría y Australia. Es difícil establecer un ranking de naciones, pues sus niveles de producción son muy diferentes. Los principales importadores a nivel mundial son la Unión Europea y Estados Unidos.<br />
            </p>
    </div>
  </div>
</div>
